.section1 {
  background-color: #030303;
  .section1-container {
    @include tablet {
      display: flex;
      align-items: end;
    }
    @include biggest-desktop {
    }
    .content1 {
      padding: 10px 20px;

      @include tablet {
        padding: 10px 20px 40px;
        width: 60%;
      }
      @include biggest-desktop {
        padding: 60px 60px 60px 170px;
      }
      aside {
        padding-top: 70px;
        padding-left: 10px;
        border-left: #d2ae6d solid 9px;
        @include desktop {
          padding-left: 40px;
        }
        @include biggest-desktop {
          padding-left: 70px;
        }
        h2 {
          margin-bottom: 20px;

          color: #fff;
          font-family: "Black Mango";
          font-size: 30px;
          @include tablet {
            font-size: 40px;
          }
          @include desktop {
            font-size: 50px;
          }
        }
        p {
          color: #fff;
          font-size: 15px;
          @include tablet {
            font-size: 20px;
          }
          @include desktop {
            font-size: 30px;
          }
        }
      }
    }
    .content2 {
      background-image: url(./../img/bg2.svg);
      text-align: center;
      @include tablet {
        width: 40%;
        padding: 40px 0;
      }

      img {
        width: 197px;
        padding-bottom: 20px;
        @include tablet {
          padding-bottom: 0;
          width: 230px;
        }
        @include desktop {
          width: 300px;
        }
        @include biggest-desktop {
          width: 400px;
        }
      }
    }
  }
}
.section2 {
  .container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    @include biggest-desktop {
    }
    .content1 {
      display: flex;
      justify-content: center;
      background: linear-gradient(to Right, white 50%, black 50%);
      @include tablet {
        display: none;
      }
      picture {
        width: 50%;
        &:last-child {
          background-color: #000;
        }
      }
    }
    .content2 {
      display: flex;
      justify-content: center;
      background: linear-gradient(to Right, black 50%, white 50%);
      @include tablet {
        display: none;
      }
    }
    .content3 {
      display: none;
      @include tablet {
        display: flex;
        background: linear-gradient(
          to right,
          white 0%,
          white 33%,
          black 33%,
          black 66%,
          white 66%,
          white 100%
        );
        justify-content: space-evenly;
        width: 100%;
      }
      img {
        @include biggest-desktop {
          width: 400px;
        }
      }
    }
  }
}
.section3 {
  background-color: #242424;
  @include tablet {
    background-color: #030303;
  }
  .content {
    @include desktop {
      display: flex;
    }
    @include biggest-desktop {
    }
    .content1 {
      @include desktop {
        order: 2;
        width: 50%;
      }
    }
    .content2 {
      padding: 60px 35px 10px;
      @include desktop {
        order: 1;
        width: 50%;
        padding: 60px 35px 10px 130px;
      }
      @include biggest-desktop {
      }
      h2 {
        color: #fff;
        font-family: "Black Mango";
        font-size: 50px;
        line-height: 48px;
        margin-bottom: 40px;
        @include desktop {
          width: 290px;
        }
        @include biggest-desktop {
          font-size: 70px;
          width: 420px;
          line-height: 70px;
        }
      }
      hr {
        margin: -27px 0 40px;
        border: #d2ae6d solid 2px;
        width: 30%;
        @include biggest-desktop {
          border: #d2ae6d solid 5px;
        }
      }
      p {
        color: #fff;
        font-size: 18px;
        margin: 0;
        @include desktop {
          width: 290px;
        }
        @include biggest-desktop {
          width: 460px;
          font-size: 28px;
        }
      }
    }
  }
}
.section4 {
  @include biggest-desktop {
    background-image: url(./../img/bg2.svg);
    background-color: #000;
  }
  .content {
    background-image: url(./../img/bg4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    @include tablet {
      gap: 15px;
    }
    @include desktop {
      background-image: url(./../img/bg2.svg);
      background-color: #000;
      padding: 30px 0;
    }
    @include biggest-desktop {
      background-image: none;
      background-color: transparent;
    }
    img {
      @include biggest-desktop {
        width: 300px;
      }
    }
    .variante {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }
  }
}
.section5 {
  position: relative;
  @include tablet {
    display: none;
  }
  div {
    position: absolute;
    top: 30px;
    right: 25px;
    text-align: end;
    .logo {
      width: 110px;
      margin-bottom: 30px;
      margin-right: 30px;
    }
    h2 {
      color: #fff;
      font-family: "Black Mango";
      width: 180px;
      font-size: 35px;
      line-height: 40px;
      //width: 187px;
      text-align: end;

      span {
        display: inline-block;
        margin-top: 4px;
        font-size: 40px;
      }
    }
  }
}
.section6 {
  background-color: #fff;
  .content {
    padding: 20px;
    @include tablet {
      display: flex;
    }
    @include biggest-desktop {
      padding: 40px 60px;
    }
    .content1 {
      @include tablet {
        width: 100%;
      }
      @include desktop {
        padding: 30px 0 30px 30px;
      }
      h2 {
        font-family: "Black Mango";
        @include desktop {
          font-size: 50px;
          line-height: 50px;
        }
        @include biggest-desktop {
          font-size: 65px;
          line-height: 65px;
        }
        br {
          display: none;
          @include tablet {
            display: block;
          }
        }
      }
      p {
        font-size: 20px;
        margin-bottom: 40px;
        @include tablet {
          font-size: 25px;
          margin-bottom: 10px;
        }
        @include desktop {
          font-size: 30px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        @include biggest-desktop {
          font-size: 35px;
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
      .cta {
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: none;
        @include tablet {
          display: flex;
        }

        .warranty {
          margin: 25px 0 5px 0;
          width: 60px;
          @include desktop {
            margin: 40px 0 5px 0;
            width: 120px;
          }
        }
        .carrito {
          margin: 25px 0 5px 0;
          width: 60px;
          @include desktop {
            width: 77px;
          }
        }
        p {
          font-size: 12px;
          @include desktop {
            font-size: 18px;
          }
        }
        button {
          background-color: #000;
          display: inline-block;
          font-size: 20px;
          padding: 3px 25px;
          border-radius: 50px;
          color: #fff;
          border: 0;
          outline: none;
          &:focus,
          &:focus-visible {
            border: 0;
            outline: none;
          }
          @include desktop {
            font-size: 30px;
          }
          &:hover {
            text-decoration: none;
            background-color: #3b3a3a;
          }
        }
      }
    }
    .content2 {
      .mockup {
        @include desktop {
          width: 562px;
        }
      }
      .cta {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
          display: none;
        }
        .carrito,
        .warranty {
          margin: 35px 0 15px 0;
          width: 60px;
        }
        p {
          font-size: 12px;
        }
        a {
          background-color: #000;
          display: inline-block;
          font-size: 20px;
          padding: 3px 25px;
          border-radius: 50px;
          color: #fff;
          &:hover {
            text-decoration: none;
            background-color: #3b3a3a;
          }
        }
      }
    }
  }
}
.section7 {
  background-color: #ffffffb3;
  padding: 20px 0;
  position: relative;
  overflow-x: clip;
  div {
    .mockup {
      position: absolute;
      z-index: 1;
      right: -110px;
      height: 386px;
      width: auto;
      @include tablet {
        height: 410px;
        top: -2px;
      }
      @include desktop {
        height: 666px;
      }
      @include biggest-desktop {
        top: 0;
        height: 93.9vh;
        right: -160px;
      }
    }
    .big-content {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center top;
      @include tablet {
        background-size: 50%;
      }
      @include desktop {
      }
      @include biggest-desktop {
        padding: 50px;
      }
      h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #000;
        margin-bottom: 30px;
        padding: 0 20px;
        @include desktop {
          font-size: 45px;
          line-height: 51px;
        }

        br {
          &:first-child {
            @include tablet {
              display: none;
            }
          }
        }
      }
      .contents {
        @include desktop {
          display: flex;
        }
        .content1 {
          padding: 20px;
          position: relative;

          @include tablet {
            background-size: 50%;
          }
          @include desktop {
            width: 33%;
            padding-right: 0;
          }
          @include biggest-desktop {
            width: 40%;
          }
          .form {
            form {
              .inputs {
                .lbl-text {
                  width: 63%;
                  display: block;
                  font-weight: 400;
                  font-size: 14px;
                  color: #000;
                  border-bottom: #000 solid 1px;
                  @include tablet {
                    width: 63%;
                    font-size: 16px;
                  }
                  @include desktop {
                    width: 80%;
                  }
                  @include biggest-desktop {
                    font-size: 21px;
                  }

                  input[type="text"],
                  input[type="email"] {
                    width: 100%;
                    font-size: 13px;
                    color: #000;
                    display: block;
                    border: 0;
                    outline: none;
                    background-color: transparent;
                    @include desktop {
                      font-size: 16px;
                    }
                    @include biggest-desktop {
                      font-size: 21px;
                    }
                    &:focus,
                    &:focus-visible {
                      border: 0;
                      outline: none;
                    }
                  }
                }
                .lbl-chx {
                  font-size: 11px;
                  color: #000;
                  @include desktop {
                    font-size: 15px;
                  }
                  @include biggest-desktop {
                    font-size: 19px;
                  }
                }
              }

              .btn-sumit-container {
                text-align: start;
                padding-left: 45px;
                @include desktop {
                  margin-top: 30px;
                }
                button {
                  border-radius: 50px;
                  background: #282829;
                  padding: 7px;
                  width: 140px;
                  font-weight: 400;
                  font-size: 16px;
                  color: #fefefe;
                  outline: none;
                  border: 0;
                  @include desktop {
                    width: 240px;
                    padding: 12px;
                  }
                  @include biggest-desktop {
                    width: 350px;
                    font-size: 23px;
                  }
                  &:focus,
                  &:focus-visible {
                    outline: none;
                    border: 0;
                  }
                  &:hover {
                    background: #014372;
                  }
                }
              }
            }
          }
        }
        .content2 {
          position: relative;
          background-color: transparent;
          padding: 70px 20px 40px;
          @include desktop {
            width: 60%;
            background-color: transparent;
            padding: 0;
          }

          .img3 {
            @include desktop {
              width: 450px;
            }
            @include biggest-desktop {
              width: 58%;
            }
          }
          .location-info {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include desktop {
              top: 35%;
              left: 27%;
            }
            .float-img2 {
              width: 66px;
              margin-bottom: 2px;
              @include biggest-desktop {
                width: 96px;
              }
            }
            p {
              font-weight: 400;
              font-size: 10px;
              text-align: center;
              color: #fefefe;
              background: #000;
              border-radius: 50px;
              padding: 4px;
              width: 150px;
              @include desktop {
                font-size: 16px;
                width: 300px;
                padding: 5px;
                line-height: 19px;
              }
              @include biggest-desktop {
                font-size: 18px;
                width: 320px;
                padding: 7px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}
